<aside class="sidebar" data-role="sidebar" data-toggle="#sidebar-toggle-4" id="sidebarDerecha" data-shift=".shifted-content-2"
    data-static-shift=".shifted-content-2" data-static="md">


    <ul id="derecha">
            <li><a>
                    <h4 class="col-12 text-center mt-2">Turno Actual</h4>
                </a></li>
        <li><a>
                <h4 class="col-12 text-center mt-2">NOMBRE USUARIO</h4>
            </a></li>
        <li><a><img id="Usuario" src="https://st2.depositphotos.com/1104517/11967/v/950/depositphotos_119675554-stock-illustration-male-avatar-profile-picture-vector.jpg"></a></li>
        <li><a>
                <table id="tabla" >
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                    </tr>
                    <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                    </tr>

                </table>
            </a></li>
        
        <li><a>
            <div><h5>Tiempo Partida</h5>
                <br>000.000.000</div>
        </a></li>
    </ul>


</aside>